.container .advertisement{
    display: inline-block;
    width: 59%;
    height: 336px;
    float: right;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px 5px;
}
#banner{
    position:absolute;
}
#banner .adPic{
    width:600px;
    height:300px;
    position: relative;
    margin: 20px 150px 20px 150px;
}
#banner .adPic img{
    width:600px;
    height:300px;
    position: absolute;
    border-radius: 10px 10px;
    display: none;
}
#banner .lib{
    position: absolute;
    right: 200px;
    bottom: 30px;
}
#banner .lib span{
    height: 6px;
    width: 6px;
    display: block;
    float: left;
    margin: 0 6px;
    border: 2px solid #989898;
    border-radius: 5px;
    background: #aaa;
}
#banner .lib span.defaultSpan{
    background: #fff;
}

#banner a{
    width: 40px;
    height: 118px;
    z-index: 1;
    font-size: 80px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
#banner a img{
    opacity: 0.6;
}
#banner a img:hover{
    opacity: 1;
}
#banner .left{
    position: absolute;
    top: 118px;
    left:55px;
 }
#banner .right{
    position: absolute;
    top: 118px;
    right:105px;
}