@charset "utf-8";
/*
页面初始化，公共属性设置
 */
html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}
body{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
}
