.goodsDesc {
    width: 100%;
    height: 30%;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    margin-top: 20px;
}
.imgDesc {
    border-radius: 5px;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 20px 10px 20px 10px;
}
.goodsLogo{
    width: 100%;
    height: 380px;
}
.logoDesc{
    display: inline;
    height: 380px;
    width: 57%;
    float: right;
    background-color: rgba(255,255,255,0.3);
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
}
.goodsLogo{
    border-radius: 5px;
}
.logoDesc .title{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
}
.logoDesc .priceDiv{
    background-color: #ddd;
    opacity: 0.7;
    border-radius: 5px;
    margin-top: 10px;
}
.logoDesc .priceDiv p{
    margin-left: 10px;
    margin-top: 5px;
}
.priceDiv .priceDiv{
    padding-top: 10px;
}
.priceDiv .priceNow{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: red;
}
.logoDesc .color{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 10px;
}
.logoDesc .number{
    font-size: 16px;
    margin-left: 10px;
}
.logoDesc .descBtn{
    position: absolute;
    bottom: 20px;
    left: 200px;
}
.logoDesc span{
    margin-left: 20px;
}
.logoDesc .spanPrice{
    margin-left: 131px;
}
.logoDesc .spanPN{
    margin-left: 78px;
}
.logoDesc .spanColor{
    margin-left: 78px;
}
.logoDesc .spanNumber{
    margin-left: 126px;
}

/* imgages div*/
.goodsImage{
    width: 90%;
    height: 500px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #fff;
}
.goodsImage img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.goodsDetail{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
}