
.loginDiv{
    margin:auto auto;
    width: 50%;
    height: 400px;
    border: 1px solid #aaa;
    border-radius: 20px 20px;
    background-color: rgba(100%,100%,100%,0.4);
    color: #aaa;
}
a{
    color: #aaa;
}
.logodiv{
    height: 50px;
    text-align: center;
}
.logodiv h1{
    font-family: monospace;
}

/*.btn{*/
    /*float: right;*/
/*}*/

.controldiv{
    height: 100%;
    width: 500px;
    margin: 0px auto;
}

.rememberme{
    font-size: 14px;
    margin-top: 2px;
}
/*.btn.btn-default{*/
    /*padding: 10px;*/
/*}*/
