<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.AdvertisementInfoMapper">
   <resultMap type="AdvertisementInfo" id="advertisementmap">
   	  <result property="id" column="id"/>
      <result property="title" column="title"/>     
      <result property="state" column="state"/>
      <result property="commodity_id" column="commodity_id"/>
      <result property="user_account" column="user_account"/>
      <result property="shop_id" column="shop_id"/>
   </resultMap>
     
   <insert id="addAdvertisement" parameterType="AdvertisementInfo">
        insert into advertisement(title,state,commodity_id,shop_id,user_account) values(#{title},#{state},#{commodity_id},#{shop_id},#{user_account})
   </insert>
   
   
   <delete id="removeAdvertisement" parameterType="AdvertisementInfo">
        delete * from advertisement where id=#{id}
   </delete>
   
   <update id="updateAdvertisement" parameterType="AdvertisementInfo">
        update advertisement set(title=#{title},state=#{state},commodity_id=#{commodity_id},shop_id=#{shop_id},user_account={user_account}) where id=#{id}
   </update>
   
   <select id="getAdvertisementsLike" parameterType="AdvertisementInfo" resultMap="advertisementmap">
        select * from advertisement where title like '%#{title}%'
   </select>
   
   
   <select id="getAdvertisements" resultMap="advertisementmap">
        select * from advertisement
   </select>
   
   <select id="getAdvertisementById" parameterType="AdvertisementInfo" resultMap="advertisementmap">
        select * from advertisement where id=#{id}
   </select>
   
   <select id="getAdvertisementByUserAccount" parameterType="UserInfo" resultMap="advertisementmap">
        select * from advertisement where user_account=#{account}
   </select>
  
	<select id="getAdvertisementByCommodityId" parameterType="AdvertisementInfo" resultMap="advertisementmap">
        select * from advertisement where commodity_id=#{commodity_id}
   </select>
   
</mapper>
