<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.CommentInfoMapper">
   	<resultMap type="CommentInfo" id="commentmap">
   	  <result property="id" column="id"/>
      <result property="content" column="content"/>
      <result property="time" column="time"/>
      <result property="seller_account" column="seller-account"/>
      <result property="buyer_account" column="buyer_account"/>
   </resultMap>
     
   <insert id="addComment" parameterType="CommentInfo">
        insert into comment(name,rank,des,user_account) values(#{name},#{rank},#{des},#{user_account})
   </insert>
 
   <delete id="removeComment" parameterType="CommentInfo">
        delete from comment where id=#{id}
   </delete>
   
   <update id="updateComment" parameterType="CommentInfo">
        update comment set(name=#{name},rank=#{rank},des=#{des}) where id=#{id}
   </update>
   
   <select id="getCommentsLike" parameterType="CommentInfo" resultMap="commentmap">
        select * from comment where des like '%#{des}%'
   </select>
   
   
   <select id="getComments" resultMap="commentmap">
        select * from comment
   </select>
   
   
   <select id="getCommentById" parameterType="CommentInfo" resultMap="commentmap">
        select * from comment where id=#{id}
   </select>
   
   <select id="getCommentByUserAccount" parameterType="CommentInfo" resultMap="commentmap">
        select * from comment where user_account=#{user_account}
   </select>
   
</mapper>
