<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.GoodsInfoMapper">
   	<resultMap type="GoodsInfo" id="goodsmap">
   	  <result property="id" column="id"/>
      <result property="des" column="des"/>
      <result property="desiregoods" column="desiregoods"/>
      <result property="contactInf" column="contactInf"/>
      <result property="user_account" column="user_account"/>
   </resultMap>
     
   <insert id="addGoods" parameterType="GoodsInfo">
        insert into goods(des,desiregoods,contactInf,user_account) values(#{des},#{desiregoods},#{contactInf},#{user_account})
   </insert>
 
   <delete id="removeGoods" parameterType="GoodsInfo">
        delete from goods where id=#{id}
   </delete>
   
   <update id="updateGoods" parameterType="GoodsInfo">
        update goods set(des=#{des},desiregoods=#{disiregoods},contactInf=#{contactInf}) where id=#{id}
   </update>
   
   <select id="getGoodsLike" parameterType="GoodsInfo" resultMap="goodsmap">
        select * from goods where des like '%#{des}%'
   </select>
   
   
   <select id="getGoods" resultMap="goodsmap">
        select * from goods
   </select>
   
   
   <select id="getGoodsById" parameterType="GoodsInfo" resultMap="goodsmap">
        select * from goods where id=#{id}
   </select>
   
   <select id="getGoodsByUserAccount" parameterType="UserInfo" resultMap="goodsmap">
        select * from goods where user_account=#{account}
   </select>
   
</mapper>
