<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.RecordInfoMapper">
   	<resultMap type="RecordInfo" id="recordmap">
   	  <result property="id" column="id"/>
      <result property="buyer_account" column="buyer_account"/>
      <result property="commodity_id" column="commodity_id"/>
   	  <result property="coName" column="coName"/>
   	  <result property="coPic" column="coPic"/>
   	  <result property="coColor" column="coColor"/>
   	  <result property="coSize" column="coSize"/>
   	  <result property="coDes" column="coDes"/>
   	  <result property="coPrice" column="coPrice"/>
      <result property="date" column="date"/>
      <result property="seller_account" column="seller_account"/>
   </resultMap>
     
   <insert id="addRecord" parameterType="RecordInfo">
        insert into record(buyer_account,commodity_id,coName,coPic,coColor,coSize,coDes,coPrice,date,seller_account) values(#{buyer_account},#{commodity_id},#{coName},#{coPic},#{coColor},#{coSize},#{coDes},#{Price},#{date},#{seller_account})
   </insert>
 
   <delete id="removeRecord" parameterType="RecordInfo">
        delete * from record where id=#{id}
   </delete>
   
   <select id="getRecordsLike" parameterType="RecordInfo" resultMap="recordmap">
        select * from record where date like '%#{date}%'
   </select>
   
   
   <select id="getRecords" resultMap="recordmap">
        select * from record
   </select>
   
   
   <select id="getRecordById" parameterType="RecordInfo" resultMap="recordmap">
        select * from record where id=#{id}
   </select>
   
   <select id="getRecordByBuyerAccount" parameterType="RecordInfo" resultMap="recordmap">
        select * from record where user_account=#{user_account}
   </select>
   <select id="getRecordBySellerAccount" parameterType="RecordInfo" resultMap="recordmap">
        select * from record where seller_account=#{seller_account}
   </select>
   <select id="getRecordByCommodityId" parameterType="RecordInfo" resultMap="recordmap">
        select * from record where commodity_id=#{commodity_id}
   </select>  
</mapper>
