<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.UserInfoMapper">  
   <resultMap type="UserInfo" id="usermap">
      <result property="name" column="name"/>
      <result property="account" column="account"/>
      <result property="password" column="password"/>
      <result property="balance" column="balance"/>
      <result property="rank" column="rank"/>
      <result property="des" column="des"/>
   </resultMap>
     
   <insert id="addUser" parameterType="UserInfo">
        insert into User(name,account,password,balance,rank,des) values(#{name},#{account},#{password},#{balance},#{rank},#{des})
   </insert>
 
   <delete id="removeUser" parameterType="UserInfo">
        delete * from user where account=#{account}
   </delete>
   
   <update id="updateUser" parameterType="UserInfo">
        update user set(name=#{name},password=#{password},des=#{des}) where account=#{account}
   </update>
   
   <select id="getUsersLike" parameterType="UserInfo" resultMap="usermap">
        select * from user where name like '%#{name}%'
   </select>
   
   
   <select id="getUsers" resultMap="usermap">
        select * from user
   </select>
   
   
   <select id="getUserByAccountAndPwd" parameterType="UserInfo" resultMap="usermap">
        select * from user where account=#{account} and password=#{password}
   </select>
   
   <select id="getUserByAccount" parameterType="UserInfo" resultMap="usermap">
        select * from user where account=#{account}
   </select>
  
</mapper>
