<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <typeAliases>
       
       <typeAlias type="cn.edu.nju.po.UserInfo" alias="UserInfo"/>
       <typeAlias type="cn.edu.nju.po.CommodityInfo" alias="CommodityInfo"/>
       <typeAlias type="cn.edu.nju.po.ShopInfo" alias="ShopInfo"/>
       <typeAlias type="cn.edu.nju.po.AdvertisementInfo" alias="AdvertisementInfo"/>
       <typeAlias type="cn.edu.nju.po.RecordInfo" alias="RecordInfo"/>
     </typeAliases>

     <mappers>
       
     </mappers>
    
</configuration>
